.similar-products {
  display: flex;
  flex-direction: column;
  /* background-color: grey; */
  height: auto;
}

.similar-products-heading {
  font-size: 24px;
  font-weight: 600;
  padding-left: 40px;
}

.similar-products-horizontal-grid {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  height: 400px;
  height: auto;
  /* background-color: wheat; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.similar-products-horizontal-grid::-webkit-scrollbar {
  display: none;
}

.similar-products-horizontal-grid {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media only screen and (max-width: 600px) {
  .similar-products {
    padding: 10px;
  }
  .similar-products-horizontal-grid {
    height: auto;
    gap: 20px;
    justify-content: flex-start;
    padding: 5px;
    overflow: scroll;
  }

  .similar-products-heading {
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
    padding-bottom: 15px;
  }
}
