.shop-by-category-card {
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  height: auto;
  /* width: 180px; */
  /* margin: 10px 10px; */
  cursor: pointer;
  overflow: hidden;

  border: 1px solid black;
  /* width: 100%; */
}

.hero-category-image-container {
  height: 180px;
  width: 180px;
  border-radius: 10px;
  overflow: hidden;
  background-color: yellow;
}

.hero-category-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.category-name {
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightblue; */
}

@media only screen and (max-width: 600px) {
  .shop-by-category-card {
    width: 150px;
  }
  .hero-category-image-container {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 383px) {
  .shop-by-category-card {
    width: 132px;
  }
  .hero-category-image-container {
    height: 132px;
    width: 132px;
    border-radius: 10px;
    overflow: hidden;
  }
}
