.sidebar-filter-data-container {
  display: flex;
  flex-direction: column;
  background-color: #efefee;
}

.filter-products-heading-and-close-icon {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  padding: 25px 35px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  color: #5a5a5a;
  border-bottom: 1px solid #ddd;
}

.filter-products-heading {
  color: #5a5a5a;
}

.filter-close-icon {
  color: #ff612b;
  cursor: pointer;
}

.all-filters-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px 35px;
}

.apply-filters-and-reset-filters-button {
  display: flex;
  justify-content: space-between;
  /* background-color: lightgray; */
  padding: 25px 35px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
}

.apply-filters-and-reset-filters-button button {
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
}

.reset-filters-button {
  border: 1px solid #2c2c2c;
  color: #2c2c2c;
}

.apply-filters-button {
  background-color: #2c2c2c;
  color: #fff;
  border: 1px solid #2c2c2c;
}

.reset-filters-button:hover {
  border-color: #cd1414;
  background-color: #ffeaea;
  color: #cd1414;
}

.apply-filters-button:hover {
  background-color: #4abe3d;
  border-color: #4abe3d;
  outline: #4abe3d;
}
