.header {
  display: flex;
  background-color: white;
  height: 65px;
  /* -webkit-box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
 
  /* width: 100%; */
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  /* position: sticky;
  position: fixed;
  top: 0;
  width: 100%; */
}

.app-name-and-main-navigation-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  /* padding: 0 20px; */
  flex: 2.5;
  /* background-color: lightyellow; */
}

.app-name a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #2c2c2c;
}

.navigation-link a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #636363;
}

.search-input-container {
  display: flex;
  flex: 1.2;
  /* background-color: skyblue; */
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.search-input-container input {
  width: 100%;
  border-radius: 8px;
  color: #696e79;
  /* background: #f5f5f6; */
  font-size: 14px;
  padding: 8px 10px;
  border: 2px solid #dfd9d9;
  outline: none;
}

.search-input-container input:focus {
  border: 2px solid #a5a2a2;
}

.wishlist-cart-signin-button-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  /* background-color: lightcoral; */
}

.wishlist-button a,
.cart-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightgreen; */
}

.wishlist-button a .wishlist-icon-container,
.cart-button a .cart-icon-container {
  height: 25px;
  width: 22px;
  /* background-color: red; */
}

.wishlist-button a img,
.cart-button a img {
  height: 100%;
  width: 100%;
}

.wishlist-button a .wishlist-length,
.cart-button a .cart-length {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  color: #2c2c2c;
  font-size: 20px;
  font-weight: 500;
  /* background-color: lightblue; */
}

.signin-button {
  /* padding: 10px 18px; */
  height: 40px;
  width: 108px;
  background-color: #202020;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .header {
    display: none;
  }
}

/* @media only screen and (max-width: 425px) {
  
} */

/* .header .app-name-and-main-navigation-menu {
  display: flex;
  flex: 3;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
} */

/* .header .search-input {
  display: flex;
  
  padding: 1.2rem;
  flex: 1.5;
} */

/* .header .search-input input {
  width: 100%;
 
  padding-left: 2rem;
  
} */

/* .header .search-input input:focus {
  background: white;
  outline: 1px solid lightgray;
}

.header .header-actions {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
} */
