.landing-page {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  height: auto;
  /* width: 100vw; */
  width: auto;
  /* background-color: lightblue; */
}

.main-heading-and-hero-image {
  display: flex;
  height: 100vh;
  width: 100%;
  /* background-color: #f6fdff; */
  background-color: #ede8e2;
  /* padding: 50px; */
}
.main-heading-and-info-container {
  height: 100%;
  width: 60%;
  /* background-color: lightgreen; */
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  padding-top: 40px;
}

.main-heading {
  color: #5a5a5a;
  font-size: 50px;
  font-weight: 650;
  /* background-color: #ede8e2; */
  /* background-color: red; */
  height: 25%;
  /* width: 25%; */
  margin-bottom: 20px;
}

.horizontal-line-and-message {
  display: flex;
  height: 18%;
  /* background-color: lightcoral; */
  gap: 50px;
}

.horizontal-line-and-message .hr-container {
  padding-top: 20px;
  /* background-color: lightskyblue; */
  flex: 1;
}

.message {
  font-size: 18px;
  flex: 2;
  /* background-color: lightskyblue; */
}

.start-shopping-button-container {
  padding-right: 240px;
  height: 15%;
  /* background-color: lightpink; */
  padding-left: 280px;
}

.start-shopping-button-container button {
  color: white;
  font-size: 12px;
  padding: 8px 15px;
  background-color: lightcoral;
  cursor: pointer;
  border-radius: 8px;
  white-space: nowrap;
}

.user-icons-and-number-of-reviews-container {
  display: flex;
  gap: 23px;
  height: 20%;
  padding-left: 280px;
  /* background-color: lightsalmon; */
}

.number-of-reviews {
  font-weight: 600;
}

.hero-icon-container {
  height: 100%;
  width: 40%;
  /* background-color: lightyellow; */
}

.hero-image-container {
  height: 100%;
  width: 100%;
}

.hero-image-container img {
  height: 100%;
  width: 100%;
}

/* the padding for trending products is coming from the component itself */
.trending-products-container {
  height: auto;
  /* background-color: lightcoral; */
}

.collections-card-container {
  display: flex;
  justify-content: space-between;
  /* background-color: lightpink; */
  height: 100vh;
  padding: 40px;
  gap: 20px;
}

.shop-by-category-container {
  height: auto;
  /* background-color: lightgray; */
}

.email-subscription-container {
  height: auto;
  min-height: 60vh;
  /* background-color: lightgreen; */
  padding: 40px;
}

/* SUBSCRIPTIONS CSS CODE STARTS*/

.email-subscription {
  display: flex;
  height: 350px;
  width: 100%;
  background-color: #fff9f1;
  border-radius: 16px;
  overflow: hidden;
}

.text-and-email-input-container {
  display: flex;
  flex-direction: column;
  padding: 45px 75px;
  height: 100%;
  width: 60%;
  /* background-color: lightblue; */
}

.primary-subscription-text {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
  /* background-color: lightcoral; */
  width: 70%;
}

.secondary-subscription-text {
  font-weight: 500;
  /* background-color: lightgreen; */
  margin-bottom: 30px;
  width: 70%;
}

.subscribe-input-and-submit-button-container {
  width: 75%;
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.subscribe-input-container {
  display: flex;
  flex: 1;
}

.subscribe-input-container input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  /* background-color: red; */
}

.submit-button-container button {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #f3f2f1;
  border: none;
  outline: none;
  cursor: pointer;
}

.subscription-hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  /* background-color: lightgray; */
}

.subscription-hero-image {
  height: 100%;
  width: 450px;
  /* background-color: red; */
  padding-bottom: 0;
}

.subscription-hero-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* SUBSCRIPTIONS CSS CODE ENDS*/

@media only screen and (max-width: 600px) {
  .main-heading-and-hero-image {
    flex-direction: column;
    height: auto;
  }

  .main-heading-and-info-container {
    padding: 30px;
    width: 100%;
  }

  .main-heading {
    font-size: 34px;
    font-weight: 750;
    width: 100%;
    height: auto;
  }

  .horizontal-line-and-message {
    padding-bottom: 30px;
  }

  .horizontal-line-and-message .hr-container {
    display: none;
  }

  .start-shopping-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }

  .user-icons-and-number-of-reviews-container {
    display: none;
  }

  .hero-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .hero-image-container {
    height: 300px;
    width: 300px;
  }

  .hero-image-container img {
    height: 100%;
    width: 100%;
  }

  .trending-products-container {
    height: auto;
  }

  .collections-card-container {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .email-subscription-container {
    padding: 20px;
  }

  /* SUBSCRIPTIONS CSS CODE STARTS*/

  .email-subscription {
    flex-direction: column-reverse;
    height: auto;
  }

  .text-and-email-input-container {
    height: auto;
    width: 100%;
    padding: 20px;
  }

  .primary-subscription-text {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
    width: 100%;
  }

  .secondary-subscription-text {
    width: 100%;
  }

  .subscribe-input-and-submit-button-container {
    width: 100%;
  }

  .subscription-hero-container {
    height: auto;
    width: 100%;
  }

  /* SUBSCRIPTIONS CSS CODE ENDS*/
}
