.collapsible-component-details {
  padding: 10px 0px;
  /* box-shadow: inset 0 0 0 4px;
  border-radius: 4px; */
}

.collapsible-component-details p {
  display: flex;
  text-align: left;
}

.collapsible-component-summary {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.collapsible-component-details .collapsible-component-summary::after {
  content: "+";
}

.collapsible-component-details[open] .collapsible-component-summary::after {
  content: "-";
}

.collapsible-component-details
  .collapsible-component-summary::-webkit-details-marker {
  display: none;
}

/* .content {
  overflow: hidden;
  transition: max-height 0.8s ease-out !important;
  -webkit-transition: 10px 0.8s;
  -moz-transition: 10px 0.8s;
  transition: 10px 0.8s;
} */

.collapsible-component {
  display: flex;
  flex-direction: column;
  height: auto;
  font-size: 16px;
  /* background-color: lightcoral; */
  margin-bottom: 25px;
  margin-top: 25px;
}

.collapsible-component-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .collapsible-component {
    font-size: 14px;
  }
  .collapsible-component-title {
    font-size: 20px;
    font-weight: 500;
  }
}
