.mobile-sort-and-filter {
  /* background-color: lightblue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  border: 1px solid #cecdcd;
  border-radius: 6px;
  width: 95%;
}

.mobile-filter-container {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.mobile-sortby-dropdown-container {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #979797;
}

.sortby-dropdown {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 550;
  padding: 5px 8px;
  /* background-color: lightblue; */
}
