.cart__product {
  /* border: 2px solid rgb(210 65 65); */
  border: 2px solid black;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-bottom: 1.5rem;
}

.product__data__and__image {
  display: flex;
  flex: 4;
  /* background-color: yellow; */
  padding: 1rem;
}

.product__data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: lightblue; */
  flex: 1;
}
.product__image {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  /* background-color: lightgreen; */
  width: 104px;
  height: 134px;
  min-width: 104px;
}
.product__image img {
  width: 50%;
  height: 100%;
  object-fit: contain;
}
.product__name {
  font-size: 2rem;
}

.product__price {
  font-size: 1.3rem;
}

.increase__and__decrese__btn {
  /* background-color: red; */
  font-size: 1.3rem;
}

.increase__and__decrese__btn button {
  font-size: 1.3rem;
}

.product__quantity {
  margin: 0 1rem;
}

.remove__and__wishlist__button {
  display: flex;
  flex: 1;
  /* background-color: lightpink; */
  display: flex;
  justify-content: space-between;
}

.remove__and__wishlist__button .remove__btn {
  flex: 1;
}

.remove__and__wishlist__button .wishlist__btn {
  flex: 1.5;
}
